<div class="toolbar" role="banner">
  <img
    alt="Round Glass Logo"
    src="/assets/images/logo-dark.svg"
    title="Round Glass Logo"
  />
  <div *ngIf="currentUser">{{currentUser.name}}</div>
  <button type="button" class="button" (click)="logout($event)" *ngIf="currentUser">Logout</button>
</div>
<router-outlet></router-outlet>