<h2>Change Language:</h2> 
<select class='select-option'
    #languageChange
    (change)='onLanguageSelected(languageChange.value)'
    [value]="selectedLanguage"
>
   <option class='option' 
   *ngFor='let language of languages' 
   [value]="language.value">{{language.displayText}}</option>
</select>

<h3>Notifications:</h3>
<ol class="custom-counter">
    <li *ngFor="let notification of notifications">
        <!-- {{notification.notificationText}} -->
        <span [innerHTML]="notification.notificationText"></span>
    </li>
</ol>