.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        counter-increment: step-counter;
        margin-bottom: 10px;
        &::before {
            content: counter(step-counter);
            margin-right: 5px;
            font-size: 80%;
            background-color: #C34A2C;
            color: white;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 3px;
        }
    }
}